<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>COOL COOK - your recipes</title>
    <link rel="stylesheet" href="../css/style.css" />
    <script type="text/javascript" src="../scripts/date.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body onload="updateDateTime();">
    <header id="container">
      <div class="top-bar">
        <img src="../img/fork.png" alt="fork" />
        <img src="../img/chef.png" alt="chef" />
        <img src="../img/knife.png" alt="knife" />
      </div>
      <div class="top-bar">
        <img
          src="../img/logo.svg"
          alt="logo"
          style="width: 100%; height: 100%; display: block"
        />
      </div>
      <div
        class="top-bar"
        style="align-self: center"
        id="dateTimeContainer"
      ></div>
    </header>
    <aside style="height: 75vh">
      <section style="padding-top: 12vh; font-size: 0.8em">
        Web application
        <i style="color: var(--main-color-dark)">COOL COOK</i> will help you
        save your favorite recipes, as well as make shopping lists. If you want
        to use this application you are invited to register!
      </section>
    </aside>
    <main style="height: 75vh">
      <form>
        <input
          name="email"
          type="text"
          placeholder="email@email.com"
          required
        />
        <input
          name="password"
          type="password"
          placeholder="password"
          required
        />
        <button type="submit">LOG IN</button>
      </form>
    </main>
    <aside style="height: 75vh; padding-top: 3vh" class="images">
      <section>
        <img src="../img/cake.png" alt="cake" />
        <img src="../img/pasta.png" alt="pasta" />
        <img src="../img/pizza.png" alt="pizza" />
      </section>
    </aside>
    <div style="clear: both"></div>
  </body>
</html>
