body {
  /* margin: 0; */
  width: 80%;
  margin: auto;
  border: black solid 2px;
}

:root {
  --main-color-light: #f9f9f9;
  --main-color-dark: #bdbdbd;
}

#container {
  background-color: var(--main-color-light);
  display: flex;
}

.top-bar {
  flex: 1;
  border: 1px solid #ccc;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 3.5em;
}

.top-bar img {
  width: 9vw;
  height: auto;
}

aside {
  box-sizing: border-box;
  float: left;
  width: 25%;
  background-color: var(--main-color-dark);
  color: var(--main-color-light);
  text-shadow: 1px 0px black, 0px 1px black, -1px 0px black, 0px -1px black;
  padding: 1vw;
  text-align: center;
font-size:2em;
}

main {
  box-sizing: border-box;
  padding: 1vw;
  float: left;
  width: 50%;
  background-color:
  #e6e6e6;
  display: flex;
  align-items: center;
justify-content: center;
}
aside[class="images"] img {
  width: 75%;
  height: auto;
  margin:0.35vh;
  border:black solid 1px;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60vh;

  background: #FFFFFFE0;
  box-shadow: 0px 1px 1px 1px #00000050;
  border: 1px solid black;
  border-radius: 10px;

}

button {
  background-color:var(--main-color-light);
  box-shadow: 0px 1px 1px 1px #00000050;
  border-radius: 10px;
  color: black;
  margin: 1em;
  line-height: 2em;
  border: black solid 1px;
  width: 70%;
}

input {
  background-color: var(--main-color-light);
  border: black solid 1px;
  padding: 1em;
  margin: 1em;
  width: 70%;
  border-radius: 10px;box-sizing: border-box
}